<tr>
  <td>
    <!-- <div style="white-space:pre;"><strong>ORDER DETAILS</strong></div><span>Rhodes to Marmaris Full Day Trip</span> -->

    <div>
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="border-collapse: collapse"
      >
        <tbody>
          <tr>
            <td
              style="padding: 20px; background: whitesmoke"
              colspan="3"
              rowspan="2"
              class="xl66"
            >
              <div style="white-space: pre"><strong>ORDER DETAILS</strong></div>
              <span>Rhodes to Marmaris Full Day Trip</span>
            </td>
            <td
              colspan="2"
              rowspan="3"
              class="xl68"
              style="
                background: #dbd2d2;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
              "
            >
              c
            </td>
            <td rowspan="2" class="xl65" style="background: #f5f5f5"></td>
          </tr>
          <tr></tr>
          <tr>
            <td
              colspan="3"
              class="xl67"
              style="background: #fff; height: 30px"
            ></td>
            <td class="xl67" style="background: #fff"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
